@model iSociety.UI.Web.Models.Pagamento

@{
    ViewBag.Title = "ConfirmaReserva";
}

<h2>Confirme seu pagamento e garanta sua reserva!</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.idPagamento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idPagamento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.idPagamento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idConsumidor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idConsumidor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.idConsumidor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idAdministrador, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idAdministrador, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.idAdministrador, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.horarioReservado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.horarioReservado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.horarioReservado, "", new { @class = "text-danger" })
            </div>
        </div>

            <div class="form-group">
            @Html.LabelFor(model => model.formaPagamento, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div>
                        @Html.RadioButtonFor(model => model.formaPagamento, "Boleto") <p>Boleto</p>
                        @Html.RadioButtonFor(model => model.formaPagamento, "Cartão de Crédito") <p>Cartão de Crédito</p>                   
                    </div>                   
                </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Confirmar Pagamento" class="btn btn-default" />
            </div>
        </div>
    </div>}


   