@model iSociety.Models.UsuarioConsumidor

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>UsuarioConsumidor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nome de Usuário")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayName("E-mail")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayName("Conta Bancária")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contaBanco)
        </dd>

    </dl>
</div>

