@model IEnumerable<iSociety.UI.Web.Models.CampoAluguel>

@{
    ViewBag.Title = "Campos disponiveis para locação";
}

<h2 style="text-align:center">Escolha um dos campos disponiveis abaixo e parta para o showball</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nome do Campo")
        </th>
        <th>
            @Html.DisplayName("Rua")
        </th>
        <th>
            @Html.DisplayName("Número")
        </th>
        <th>
            @Html.DisplayName("CEP")
        </th>
        <th>
            @Html.DisplayName("Cidade")
        </th>
        <th>
            @Html.DisplayName("Horário Inicio")
        </th>
        <th>
            @Html.DisplayName("Horário Fim")
        </th>
        <th>
            @Html.DisplayName("Contém Bar?")
        </th>
        <th>
            @Html.DisplayName("Valor")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.responsavelId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomeCampo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horarioInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horarioFim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valor)
        </td>
        <td>
            @Html.ActionLink("Alugar agora", "Reservar", new { id = item.aluguelId })

        </td>
    </tr>
}
</table>
      