@model IEnumerable<iSociety.UI.Web.Models.CampoAluguel>

@{
    ViewBag.Title = "VerReservas";
}

@if (Model.Count() != 0)
{
<h3>Aqui estão suas reservas, lembre de <b>confirmar </b>o pagamento com até <b>2 dias </b>ou então ela será cancelada.</h3>
}


<table class="table">
    <tr>

        <th>
            @Html.DisplayName("Nome do Campo")
        </th>
        <th>
            @Html.DisplayName("Rua")
        </th>
        <th>
            @Html.DisplayName("Número")
        </th>
        <th>
            @Html.DisplayName("CEP")
        </th>

        <th>
            @Html.DisplayName("Cidade")
        </th>

        <th>
            @Html.DisplayName("Horário Inicio")
        </th>
        <th>
            @Html.DisplayName("Horário Fim")
        </th>
        <th>
            @Html.DisplayName("Valor")
        </th>

        <th>
            @Html.DisplayName("Contém Bar?")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.nomeCampo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rua)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cep)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.horarioInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.horarioFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.bar)
            </td>
            <td>
                @Html.ActionLink("Confirmar Pagamento", "ConfirmaReserva", new { id = item.aluguelId }) |
                @Html.ActionLink("Cancelar Reserva", "CancelaReserva", new { id = item.aluguelId })
            </td>
        </tr>
    }

</table>
@if (Model.Count() == 0)
{
    <h2 style="text-align:center">Você ainda não tem reservas:(</h2>
}